{% extends "layout.html" %}

{% block content %}
<div class="well">
    <div class="row">
        <div class="col-md-4">
            
            <div class="panel panel-default" style="background-color: #ffffff; border-color:#D8D8D8">
                <div class="panel-body">
                    {% for row  in data %}
                    {% if row[1]=='user'%}
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="panel mes-panel" style="background-color: #F5A623; border-color:#F8E71C;">
                                <div class="panel-body">
                                    <p class="text-right">{{row[0]}}</p>
                                    <p class="text-right"><a href="http://www.google.com/maps/place/{{row[2]}},{{row[3]}}">Geoposition</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel mes-panel" style="background: #D8D8D8; border-color:#999999">
                                <div class="panel-body">
                                    <p class="text-left">{{row[0]}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                <form action="" method="post" name="add">
                    <div class="col-md-9">
                        {{form.hidden_tag()}}
                        <div class="form-group {% if form.msg.errors %} has-error {% endif %}">
                            {{ form.msg(placeholder="", class="form-control") }}
                            {{ form.msg.errors[0] }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            {% if fl %}
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/14203382_1237047829668084_2507875868580942135_n.jpg?oh=441688aaf3e42c4b9c5bb8d903337d7f&oe=596C89D4"
                         alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-4 col-md-8">
                    <blockquote>
                        <p>Tomasz Czernuszenko</p> <small><cite>London, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> tczernuszenko@gmail.com
                        <br /> <i class="glyphicon glyphicon-globe"></i> http://ulluna.com
                        <br /> <i class="glyphicon glyphicon-gift"></i>19 september 1997
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<meta http-equiv="refresh" content="10">
{% endblock %}
